#
# ~/.aliases
#

# Safeguarding aliases to confirm file changes
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

alias ..='cd ..'
alias vi='/usr/bin/vim'
alias grep='grep -n -B 4 -A 4 --colour --exclude tags'
alias open="xdg-open"
alias path='echo -e ${PATH//:/\\n}'

# Enable tab completion when using 'sudo' command
alias sudo='sudo '

# Quickly activate python environment
alias pyenv="source *env/bin/activate"

# Alert alias for long running commands. Use case example: $ sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal '`
           `'|| echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\'`
           `'+\s*//;s/[;&|]\s*alert$//'\'')"'

# Enable color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && \
        eval "$(dircolors -b ~/.dircolors)" || \
        eval "$(dircolors -b)"

    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# Custom, machine-specific aliases:
