[submodule ".config/awesome/themes"]
	path = .config/awesome/themes
	url = https://github.com/mikar/awesome-themes.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
